   <div class="card">
      <img *ngIf="heroe.house == 'DC'" src="assets/img/DC_logo.png" class="card-img-top" [alt]="heroe.house">
      <img *ngIf="heroe.house == 'Marvel'" src="assets/img/marvel.jpg" class="card-img-top" [alt]="heroe.house">

      <div class="card-body">
         <h5 class="card-title">{{ heroe.name }}</h5>
         <p class="card-text">{{ heroe.bio }}</p>
         <p class="card-text">{{ heroe.house }}</p>
         <p class="card-text">
            <button class="btn btn-outline-info" [routerLink]="['../viewHero', heroe.id]" routerLinkActive="active"><i
                  class="far fa-eye"></i></button>&nbsp;
           <button class="btn btn-outline-warning" [routerLink]="['../editHero', heroe.id]" routerLinkActive="active"><i
                 class="far fa-edit"></i></button>&nbsp;
            <button class="btn btn-outline-danger" (click)="deleteHeroe(heroe.id)"><i
                  class="far fa-trash-alt"></i></button>
         </p>
      </div>
   </div>
