<app-navbar></app-navbar>
<div id="wrapper">
   <ul class="sidebar navbar-nav bg-primary">
      <li class="nav-item">
         <a class="nav-link" [routerLink]="['dashboard']" routerLinkActive="active">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Dashboard</span>
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" [routerLink]="['heroes']" routerLinkActive="active">
            <i class="fas fa-user"></i>
            <span> Heroes</span>
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" [routerLink]="['addHero']" routerLinkActive="active">
            <i class="fas fa-user"></i>
            <span> Agregar Hero</span>
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" [routerLink]="['currencies']" routerLinkActive="active">
            <i class="fas fa-coins"></i>
            <span> Monedas</span>
         </a>
      </li>
  </ul>
   <div id="content-wrapper">
      <div class="container-fluid">
         <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
   </div>

</div>

<a class="scroll-to-top rounded" href="#page-top">
   <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
            </button>
         </div>
         <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
         <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" (click)="logout()">Logout</a>
         </div>
      </div>
   </div>
</div>
