<form (ngSubmit)="addHero()" #forma="ngForm">
   <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control"
            [(ngModel)]="heroe.name" name="name">
   </div>
   <div class="form-group">
      <label for="casa">Casa</label>
      <input type="text" class="form-control"
             [(ngModel)]="heroe.house" name="house">
   </div>
   <div class="form-group">
      <label for="bio">Bio</label>
      <input type="text" class="form-control"
             [(ngModel)]="heroe.bio" name="bio">
   </div>
   <button class="btn btn-primary">Agregar</button>
</form>
