<!-- <div class="table-responsive">
   <table class="table table-bordered">
      <thead>
         <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Bio</th>
            <th scope="col">Acciones</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let heroe of heroes">
            <td>{{ heroe.id }}</td>
            <td>{{ heroe.name }}</td>
            <td>{{ heroe.house }}</td>
            <td>{{ heroe.bio }}</td>
            <td>
               <button class="btn btn-outline-info" [routerLink]="['../viewHero', heroe.id]" routerLinkActive="active" ><i class="far fa-eye"></i></button>&nbsp;
               <button class="btn btn-outline-warning"
                  [routerLink]="['../editHero', heroe.id]" routerLinkActive="active"><i
                     class="far fa-edit"></i></button>&nbsp;
               <button class="btn btn-outline-danger" (click)="deleteHeroe(heroe.id)"><i class="far fa-trash-alt"></i></button>
            </td>
         </tr>
      </tbody>
      <tfoot> Pedro Huenchullán </tfoot>
   </table>
</div> -->
<div class="card-columns">
   <app-heroetarjeta [heroe]="heroe" *ngFor="let heroe of heroes"></app-heroetarjeta>
</div>
