<h1>Heroe</h1>
<hr>
<div class="responsive-table mt-3">
   <table class="table">
      <thead>
         <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Bio</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td scope="col">{{ heroe.id }}</td>
            <td scope="col">{{ heroe.name }}</td>
            <td scope="col">{{ heroe.house }}</td>
            <td scope="col">{{ heroe.bio }}</td>
         </tr>
      </tbody>
      <tfoot>
         Usuario: {{ user.nombre }} <br> <strong>ID: {{ user.uid }}</strong>
      </tfoot>
   </table>
</div>
