<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 center">
      <h1 class="text-center login-title mt-3">Heroes Demo</h1>
      <div class="account-wall">
        <img class="profile-img"
          src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
          alt="">

        <form class="form-signin" (ngSubmit)="signup(forma)" #forma="ngForm">

         <!--  <input type="text" class="form-control" placeholder="Email" required        [(ngModel)]="user.email" name="email"  autofocus>

          <input type="password" class="form-control mt-2" placeholder="Password"
                  [(ngModel)]="user.password" name="password" required>

          <button class="btn btn-lg btn-primary btn-block" (click)="signup()">
            Sign in</button> -->
          <button class="btn btn-google btn-block" (click)="signup()">
             <i class="fab fa-google-plus"></i>
          </button>
         <!--  <label class="checkbox pull-left">
            <input type="checkbox" value="remember-me">
            Remember me
          </label>
          <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span> -->
        </form>
      </div>
 <!--      <a href="#" class="text-center new-account">Create an account </a> -->
    </div>
  </div>
</div>
