<h1>Cambios en las monedas</h1>
<hr>
<ul>
   <li>
      Moneda | dolar
      <hr>
      {{ this.dolar | json }}
      <hr>
   </li>
   <li>
      Moneda | euro
      <hr>
      {{ this.euro | json }}
      <hr>
   </li>
   <li>
      Moneda | uf
      <hr>
      {{ this.uf | json }}
      <hr>
   </li>
</ul>
